:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(35, 29, 29, 0.87);
  background-color: #242424;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1490367605959-06955305859b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
}

h2 {
  font-size: 2.1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7728c1a3;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  margin: 1em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.left {
  background-color: #545ced3f;
  height: 100vh;
  width: 300px;
  padding: 15px 10px;
  box-shadow: 5px 5px 10px #8888882f;
  /* float: left; */
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-bottom: 1em;
  font-size: 2em;
}

i {
  padding-right: 10px;
  margin-left: 1.2em;
}

.card {
  padding: 2em;
  margin: 2em;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #8888882f;
  background-color: #545ced3f;
  width: 200px;
  color: rgba(35, 29, 29, 0.87);
}

.dashboard {
  background-color: #545ced3f;
  padding: 2em;
  margin: 2em;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #8888882f;
  width: 900px;
  height: auto;
}

th,
td {
  padding: 10px;
  font-size: 15px;
}

table {
  margin: 0 auto;
  font-weight: 600;
}

input {
  margin-top: 1em;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.featured-img {
  width: 100px;
  height: 100px;
  margin: auto;
}

h4 {
  font-size: 1.2em;
  text-align: center;
}

.featured-cont li {
  text-align: center;
}
